{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://www.themoviedb.org/assets/2/application-e07cbe8dd1343120defc52e38096bef23a7ecce8fe0b358470bd01235b5f489f.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/f4fd34c1ac.js"></script>
  </head>
    <title>Instagram</title>
    <style>
    body{
        background-color: beige;
    }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
    <!-- <div class="container">
        <ul>
            <li> <i class="fas fa-home" style="font-size: 48px;"></i></li>
            <li><i class="fas fa-search" style="font-size: 48px;"></i></li>
            <li><i class="far fa-heart" style="font-size: 48px;"></i></li>
            <li><i class="fas fa-user-alt" style="font-size: 48px;"></i></li>
        </ul>    
    </div> -->
</body>
</html>